@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700&display=swap");
/*$bg-color: #252954;
$body-color: #9b9ca7;
$main-bg: #0e0e23;
#4255d4
*/
* {
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar{
    display: none;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #252954;
}
.layout {
    width: 100%;
    height: 821px;
    display: flex;
    flex-flow: row nowrap;
    flex-shrink: 1;
    justify-content: center;
}
.nav {
    flex-basis: 60px;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #9b9ca7;
    padding-top: 35px;
    background: #0e0e23;
}
.nav a{
    animation-name: nav;
    animation-duration: 1s;
}
@keyframes nav{
    0%{
        opacity: 0;
        transform: translateY(10px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
.nav a {
    text-decoration: none;
    color: currentColor;
}
.nav svg {
    width: 25px;
    margin-bottom: 25px;
}
.nav svg:hover,
.nav svg.active {
    color: #4255d4;
}
.side {
    flex-basis: 300px;
    max-height: 100%;
    background: #0e0e23;
    background-image: radial-gradient(ellipse at left, #0e0e23, rgb(20, 24, 52));
}
.mail {
    background: linear-gradient(45deg, #1a1d3a 0%, #212752 100%);
    width: 250px;
    height: 105px;
    margin: 0 auto;
    margin-top: 25px;
    border-radius: 6px;
    padding: 20px;
    padding-top: 25px;
    color: #9b9ca7;
    box-shadow: 2px 2px 2px #4255a4;
    animation-name: mail;
    animation-duration: 1s;
}
@keyframes mail{
    0%{
        opacity: 0;
        transform: translateY(-10px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
.nav_mail{
    background: linear-gradient(45deg, #1a1d3a 0%, #212752 100%);
    width: 380px;
    height: 105px;
    margin: 0 auto;
    margin-top: 5px;
    border-radius: 6px;
    padding: 20px;
    padding-top: 25px;
    color: #9b9ca7;
    box-shadow: 2px 2px 2px #4255a4;
}
.mail p {
    font-size: 12px;
}
.order {
    font-size: 12px;
    display: flex;
    width: 150px;
    justify-content: space-around;
}
.nav_order {
    font-size: 15px;
    display: flex;
    width: 300px;
    justify-content: space-around;
}
.order input,
.nav_order input {
    display: none;
}
.order label,
.nav_order label{
    position: relative;
}
.order label:after,
.nav_order label:after{
    content: "";
    position: absolute;
    background-color: #4255d4;
    height: 2px;
    width: 0;
    left: 0px;
    bottom: -5px;
    transition: .2s linear;
}
.order label:hover:after,
.nav_order label:hover:after{
    width: 30%;
    transition: .2s linear;
}
.order label:hover,
.nav_order label:hover{
    color: #ccc;
}
#active{
    color: #ccc;
    width: 30%;
    transition: .2s linear;
}

.order .new .fa-circle,
.nav_order .fa-circle {
    font-size: 5px;
    color: #ff494e;
    position: relative;
    top: -8px;
    right: 3px;
}


.search__input {
    margin-top: 20px;
    width: 80%;
    padding: 5px 24px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    color: #9b9ca7;
    background-color: transparent;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 25px;
    border: 1px solid #9b9ca7;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.search__input::placeholder {
    color: rgba(87, 87, 86, 0.8);
    letter-spacing: 1.5px;
}

.search__input:hover,
.search__input:focus {
    padding: 5px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #575756;
    border-radius: 0;
    background-position: 100% center;
}
.list{
    margin-top: 10px;
    max-height: 610px;
    overflow-y: scroll;
    animation-name: list;
    animation-duration: 1s;
}
@keyframes list{
    0%{
        opacity: 0;
        transform: translateY(-10px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
.nav_list{
    margin-top: 10px;
    max-height: 1100px;
    overflow-y: scroll;
}
.list .card{
    display: flex;
    flex-flow: row wrap;
    flex-shrink: 1;
    background: #1a1b3c;
    border-radius: 4px;
    width: 250px;
    height: 90px;
    color: #9b9ca7;
    margin: 0 auto;
    margin-bottom: 4px;
    padding: 15px;
    flex-basis: 10px;
    animation-name: card;
    animation-duration: .5s;
}
.nav_list .nav_card{
    display: flex;
    flex-flow: row wrap;
    flex-shrink: 1;
    background: #1a1b3c;
    border-radius: 4px;
    width: 380px;
    height: 100px;
    color: #9b9ca7;
    margin: 0 auto;
    margin-bottom: 4px;
    padding: 15px;
    flex-basis: 10px;
    animation-name: card;
    animation-duration: .5s;
}
@keyframes card{
    0%{
        opacity: 0;
        transform: translate(-5px,-5px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
.list .card p,
.nav_list .nav_card p{
    font-size: 12px;
    width: 100%;
}
.card span,
.nav_card span{
    font-size: 12px;
}
.list .card .fa-circle,
.nav_list .nav_card .fa-circle{
    color: #4255d4;
    font-size: 8px;
    position: relative;
    top: -3px;
    right: 3px;
}
.list .card .fa-check-circle,
.nav_list .nav_card .fa-check-circle{
    color: #007027;
    font-size: 10px;
    position: relative;
    top: -3px;
    right: 3px;
}
.list .card .fa-times-circle,
.nav_list .nav_card .fa-times-circle{
    color: #ff494e;
    font-size: 10px;
    position: relative;
    top: -3px;
    right: 3px;
}
.user{
    flex-grow: 1;
}
.time{
    flex-direction: row-reverse;
}

.detail {
    flex-basis: 950px;
    max-height: 100%;
    background: #0e0e23;
}
.detail .main{
    margin: 0 auto;
    margin-top: 25px;
    border-radius: 6px;
    width: 860px;
    height: 720px;
    max-height: 900px;
    background: radial-gradient(circle, #1a2049 0%, #13162f 100%);
    color: white;
    padding: 25px;
    animation-name: infor;
    animation-duration: 1s;
}
@keyframes main{
    0%{
        transform: translate(-2px,-2px);
    }
    100%{
        transform: translate(0);
    }
}

.infor{
    display: flex;
    flex-basis: 80px;
    color: #ccc;
    animation-name: infor;
    animation-duration: .6s;
}
@keyframes infor{
    0%{
        opacity: 0;
        transform: translate(-2px,-2px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
hr{
    color: #9b9ca7;
    animation-name: infor;
    animation-duration: 1s;
}
.avt img{
    margin: 0 auto;
    width: 70px;
    border-radius: 5px;
}
.name{
    flex-grow: 1;
    margin-left: 15px;
    margin-top: 5px;
}
.name p{
    font-size: 13px;
}
.remove{
    margin: 10px;
    font-size: 20px;
}
.remove:hover{
    color: #ff494e;
}

.border_left{
    margin-top: 10px;
    border-left: 5px solid #4255d4;
    padding-left: 5px;
    color: #ccc;
}
.detail_mail{
    margin-top: 10px;
    height: 520px;
    background: #252854;
    border-radius: 7px;
    padding: 25px;

}
.content {
    height: 470px;
    padding: 10px;
    overflow-y: scroll;
    border-radius: 10px;
    animation-name: content;
    animation-duration: .2s;
}
@keyframes content{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.content p{
    line-height: 25px;
    color: #ccc;
    font-size: 15px;
}
.content .icon{
    width: 30px;
    margin: 0 auto;
    vertical-align: top;
}
.content .far,
.content .fas{
    color: #4255d4;
}
.card_order{
    background-color:  #0e0e23;
    display: flex;
    flex-flow: row;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.img_order img{
    width: 120px;
    height: 70px;
    border-radius: 10px;
}
.infor_order{
    margin-left: 10px;
    flex-grow: 1;
}
.total p{
    margin-left: 40px;
    font-size: 16px;
}
.btn button{
    border: none;
    outline: none;
    min-width: 100px;
    min-height: 30px;
    float: right;
    margin: 7px;
    border-radius: 25px;
    background-color: #4255d4;
    color: #ccc;
    transition: .2s;
    margin-top: 13px;
}
.btn .accept:hover{
    background-color: #2f6911;
    transition: .2s;
}
.btn .refuse:hover{
    background-color: #ff494e;
    transition: .2s;
}

/*------------------------------------*/

#unConfirmSlide,
#unConfirm,
#nav_unConfirm{
    display: none;
}

.btn_left,
.btn_right{
    border: none;
    outline: none;
    background: #4255d4;
    font-size: 17px;
    color: white;
    width: 100px;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 20px;
    height: 20px;
}
.btn_right{
    float: right;
}
.btn_left{
    float: left;
}

.btn_left:hover,
.btn_right:hover,
.btn_left:focus,
.btn_right:focus{
    border: none;
    outline: none;
    background: rgba(47, 47, 45, .6);
    color: #fff;
    border-radius: 10px;
}

/*------------------------------------*/

.navbar{
    position: absolute;
    z-index: 2;
    width: 450px;
    height: 100%;
    max-height: 100%;
    top: 0;
    left: 65px;
    background: radial-gradient(ellipse at left, #0e0e23, rgb(20, 24, 52));;
    display: none;
    transform: translateX(-101%);
    transition: linear .4s;
    border-left: 1px solid #4255d4;
}
#navbar_checkbox{
    display: none;
}
.fa-angle-double-right{
    position: relative;
    z-index: 1;
    top: 45%;
    right: -100%;
    font-size: 25px;
    background: #4255d4;
    text-align: center;
    padding: 15px;
    padding-left: 5px;
    padding-right: 5px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    color: #ccc;
    max-width: 30px;
}

#navbar_checkbox:checked ~ .navbar{
    transform: translateX(0);
    transition: linear .4s;
}











