<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<div class="container-fluid bgFooter" id="footerr">
    <div class="container navFooter" style="height: auto;">
        <div class = "footer">
            <div class="footer1">
                <h2>Về Royal BBQ</h2>
                <p>Royal BBQ phục vụ các món ăn truyền thống và đầy sáng tạo. Bầu không khí bình dị trong khi thiết kế hiện đại và cao cấp góp phần mang đến trải nghiệm ăn uống thư giãn và thú vị</p>
                <img src="image/logo.png" style="width: 50px">
            </div>
            <div class="footer2">
                <h2>Kết nối với chúng tôi</h2>
                <div class = "social">
                    <a href="http://www.facebook.com/SixBlack0000">
                        <label><i class="fab fa-facebook"></i></label>
                    </a>
                    <a href="https://www.instagram.com/nts_sixblack/">
                        <label><i class="fab fa-instagram"></i></label>
                    </a>
                    <a href="#">
                        <label><i class="fab fa-twitter"></i></label>
                    </a>
                    <a href="#">
                        <label><i class="fab fa-skype"></i></label>
                    </a>
                </div>

            </div>
            <div class="footer3">
                <h2>Liên Kết</h2>
                <a href="menu">Thực đơn</a><br>
                <a href="reservation">Đặt bàn</a><br>
                <a href="blogs">Blogs</a><br>
                <a href="contact">Liên hệ</a>
            </div>
            <div class="footer4">
                <h2>Liên hệ với chúng tôi</h2>
                <p><i class="fas fa-map-marker-alt"></i> Địa chỉ: 470 Trần Đại Nghĩa, Ngũ Hành Sơn, Đà Nẵng.</p>
                <p><i class="fas fa-phone-alt"></i> Số điện thoại: 0968604438</p>
                <p><i class="fas fa-envelope"></i> Email: royalbbq@gmail.com</p>
            </div>
        </div>
    </div><!--container-->
</div>
<div class="col-md-12 text-center">
    <hr>
    <p style="text-align: center">Copyright © 2021 Royal BBQ. Powered by TTSV</p>
</div>

</body>

</html>