<html xmlns:th="http://www.thymeleaf.org">

<body>

<div class="header" id="headerr">
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light" id="bg">
    <a class="navbar-brand" href="home">
      <img src="image/logo.png" alt="" style="margin-left: 50px; width: 50px">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" href="/">TRANG CHỦ</a>
        <a class="nav-item nav-link" href="menu">THỰC ĐƠN</a>
        <a class="nav-item nav-link" href="reservation">ĐẶT BÀN</a>
        <!-- <a class="nav-item nav-link" href="pagekm.html">Khuyến Mãi</a> -->
        <a class="nav-item nav-link" href="promotion">KHUYẾN MÃI</a>
        <a class="nav-item nav-link" href="blogs">BLOGS</a>
<!--        <a class="nav-item nav-link" href="contact">LIÊN HỆ</a>-->
<!--        <c:if test="${account.type > 1}">-->
<!--          <a class="nav-item nav-link" href="admin">ADMIN</a>-->
<!--        </c:if>-->
<!--        <c:choose>-->
<!--          <c:when test="${check > 0}">-->
<!--            <a class="nav-item nav-link" href="logout">ĐĂNG XUẤT</a>-->
<!--          </c:when>-->
<!--          <c:otherwise>-->
<!--            <a class="nav-item nav-link" href="login">ĐĂNG NHẬP</a>-->
<!--          </c:otherwise>-->
<!--        </c:choose>-->

      </div>
    </div>
  </nav>
</div>

</body>

</html>