<!DOCTYPE html>
<html lang="en">
<head>
    <title>Giới thiệu</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />

    <link rel="stylesheet" href="css/headerStyle.css">
    <link rel="stylesheet" type="text/css" href="css/reservationStyle.css">
    <link rel="stylesheet" href="css/footerStyle.css">
    <link rel="stylesheet" href="css/iconStyle.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="image/logo.png" />
</head>
<body>
<!--navigation-->
<div th:insert="header :: #headerr"></div>

<!--navigation-->
<!--body-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 introduce">
            <div class = "introduceImg">
                <div class="container">
                    <div class="col-md-6 introduce">
                        <h1>ẨM THỰC THĂNG HOA</h1>
                        <p>Nhật Bản, chiếc nôi của rất nhiều các bộ môn nghệ thuật trong đời sống: cắm hoa, gấp giấy, cây cảnh…và dĩ nhiên có cả ẩm thực. Dù trong bất kỳ lĩnh vực nào, đối với người dân xứ sở Phù tang, thực hành một cách thành thục chỉ là bước cơ bản, để thăng hoa và đạt tới hàng Master (chuyên gia), người đầu bếp cần có một sự tinh tế và khéo léo vượt bậc. Sự tinh tế và khéo léo đó không phải chỉ ở trên những món ăn mà truyền cảm hứng cho sự phát triển của cả ngành công nghiệp Nhà hàng & Ẩm thực. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="introduce-bottom0">
            <div class="introduce-left text-center">
                <img src = "image/japan.jpg">
            </div>
            <div class="introduce-right">
                <h1>ẨM THỰC THĂNG HOA</h1>
                <p>Nhật Bản, chiếc nôi của rất nhiều các bộ môn nghệ thuật trong đời sống: cắm hoa, gấp giấy, cây cảnh…và dĩ nhiên có cả ẩm thực. Dù trong bất kỳ lĩnh vực nào, đối với người dân xứ sở Phù tang, thực hành một cách thành thục chỉ là bước cơ bản, để thăng hoa và đạt tới hàng Master (chuyên gia), người đầu bếp cần có một sự tinh tế và khéo léo vượt bậc. Sự tinh tế và khéo léo đó không phải chỉ ở trên những món ăn mà truyền cảm hứng cho sự phát triển của cả ngành công nghiệp Nhà hàng & Ẩm thực. </p>
            </div>
        </div>
        <div class="introduce-bottom">
            <div class="introduce-left text-center">
                <img src = "image/blog1.jpg">
            </div>
            <div class="introduce-right">
                <h1>KẾ THỪA VÀ PHÁT TRIỂN</h1>
                <p>Kế thừa những tinh túy của nghệ thuật nướng Nhật Bản, Royal BBQ đã phát triển chúng nên trở thành một tầm cao mới, tạo nên sự thăng hoa của cả thương hiệu và thực khách sành ăn khi tới nhà hàng. ‘Ngũ quan cảm mỹ vị’ – Mắt thấy, tai nghe, tay chạm, mũi ngửi, miệng nếm – đó là những tinh túy thông thường mà các nhà hàng theo đuổi. Tại Royal BBQ, sự thăng hoa không thể thiểu “Lục quan” – Cảm nhận. Thông qua một món ăn, thực khách hoàn toàn có thể cảm nhận được cái tâm, cái chuẩn của chúng tôi.</p>
                <p>Theo thời gian, khi tiêu chuẩn về một bữa ăn của người Việt đã cao hơn những yếu tố cơ bản là mùi vị, các nhà hàng cần phải chú trọng vào từng chi tiết nhỏ nhất để làm cho ‘hành trình cảm nhận’ của thực khách trở nên tốt hơn cả mong đợi. Tại Royal BBQ, ngay khi tới nhà hàng, sự sang trọng rộng rãi của không gian, sự nhẹ nhàng lôi cuốn của nhạc nền cùng việc tiếp đón chu đáo gần gũi của nhân viên sẽ giúp thực khách ngay lập tức trở nên thoải mái sau một buổi làm việc căng thẳng.</p>
            </div>
        </div>
        <div class="introduce-bottom1">
            <div class="introduce-right">
                <h1>HOẠT ĐỘNG</h1>
                <p>Chúng tôi cũng thường xuyên tiếp đón những nhóm thực khách là nhóm đồng nghiệp, đối tác ghé nhà hàng để xả stress, để bàn bạc công việc hay tổ chức các buổi lễ chúc mừng. Không gì hấp dẫn, thú vị và giúp gắn kết mọi người hơn là những bữa tiệc thịt nướng thượng hạng cùng chút rượu thơm chuẩn Nhật. Và khi cảm xúc thăng hoa là lúc mà mọi người trở nên cởi mở, lắng nghe và thấu hiểu, dễ dàng giải quyết những vấn đề mà thường ngày chúng ta có thể khó mở lời với nhau. Thật là sự vinh hạnh của chúng tôi khi được cùng các bạn lưu giữ những kỷ niệm tốt đẹp đó.</p>
                <p>Trong tháng 6 này, hãy khám phá ngay Thực đơn Không-giới-hạn hoàn toàn với đủ đầy những loại thịt được coi là tuyệt phẩm trong làng ẩm thực: bò Wagyu, bò Black Angus, bò Mỹ, heo Iberico,. Và với những quy định, điều kiện nghiêm ngặt đảm bảo sự an toàn và sức khỏe cho thực khách, Royal BBQ chắc chắn là địa điểm hoàn hảo để nâng cao tinh thần teamwork cho các nhóm bạn trong thời điểm nhạy cảm này.</p>
            </div>
            <div class="introduce-left text-center">
                <img src = "image/blog1.jpg">
            </div>
        </div>
    </div>
</div>
<!--body-->
<!--footer-->
<div th:replace="footer :: #footerr"></div>
<!--footer-->
<div>
    <div th:include="icon :: #iconnn"></div>
</div>
</body>
</html>