<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/22e87e415b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/headerStyle">
    <link rel="stylesheet" href="css/footerStyle.css">
    <link rel="shortcut icon" type="image/png" href="image/logo.png" />

    <link rel="stylesheet" href="css/promotionStyle.css">
    <title>ƯU ĐÃI</title>
</head>

<body>
<div th:insert="header :: #headerr"></div>
<!--header-->



<ul class="slideshow">
    <li><span>Image 01</span>
        <!-- <div>
            <h3>Chương trình khuyến mãi </h3>
        </div> -->
    </li>
    <li><span>Image 02</span></li>
    <li><span>Image 03</span></li>
    <li><span>Image 04</span></li>
    <li><span>Image 05</span></li>
    <li><span>Image 06</span></li>
</ul>

<div class="container">
    <div class="e-title">
        <div class="row">
            <div class="col-md-12 col-sm-12 blabla"  style="background: white; color: black">
                <div class="khungbang" style="margin-bottom: 10px;">
                    <h3>ƯU ĐÃI KHUNG GIỜ VÀNG</h3>
                </div>

                <span> Đặc Biệt: Tặng thức uống không giới hạn cho phụ nữ mỗi
                        ngày trong khung giờ 17:30 – 20:30 Giải phóng bản thân khỏi

                        những bí bách của cuộc sống thường nhật, lả lơi theo điệu nhạc
                        sôi động và cạn ly rượu nồng tại quán phía ngoài trời trước
                        khi màn đêm buông xuống sẽ giúp tâm trạng thêm thư thái.
                    </span>
                <img class="imgsale" src="image/bia3.png">
                <span>
                            Tận hưởng thời gian bên người mình yêu với combo đồ uống chưa từng có tại
                            Royal-BBQ
                            <li>Ẩm thực đa phương vị khác biệt.</li>
                            <li>Không gian ấm áp, lung linh với nến & hoa.</li>
                            <li>Đi càng đông, giảm càng mạnh.</li>
                        </span>
                <img class="imgsale" src="image/bia2.png">
                <img class="imgsale" src="image/nhahang2.png">
                <img class="imgsale" src="image/thitbo.png">
                <div class="e-title">
                        <span>
                            Món ăn mang âm hưởng Á-Âu của nhà hàng chúng tôi, luôn được coi trọng
                            trong khâu hàng chuẩn bị cũng như trong khâu chế biến
                            Không chỉ món ăn mà đồ uống cũng mang sắc thái riêng theo từng mùa

                            <strong>
                                <li>Có hạn chế về số lượng, nhanh tay đặt chỗ:</li>
                                <li> 𝗛𝗢𝗧𝗟𝗜𝗡𝗘: 0968604438</li>
                                <li> 𝗘𝗺𝗮𝗶𝗹: RoyalBBQ@gmail.com.vn</li>
                            </strong>

                        </span>
                </div>
            </div>
        </div>
<!--        <%&#45;&#45;        <div class="pagination">&#45;&#45;%>-->
<!--        <%&#45;&#45;            <a href="#">❮</a>&#45;&#45;%>-->
<!--        <%&#45;&#45;            <a href="content2.html">❯</a>&#45;&#45;%>-->
<!--        <%&#45;&#45;        </div>&#45;&#45;%>-->
    </div>

</div>

    <!--footer-->
<div th:replace="footer :: #footerr"></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <!--footer-->
</body>
</html>